@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

.body{
    font-family: 'Indie Flower', cursive;
    background-color: #f3f4f6;
    color: #1f2937;
    margin: 0;
    padding: 0;
    height: 100vh;
}